external_url '<%= @gitlab_rb['external_url'] %>'
<% %w{user gitlab-rails bootstrap postgresql unicorn sidekiq redis nginx web-server logging remote-syslog high-availability}.each do |svc| %>
<%   if @gitlab_rb[svc] %>

<%     @gitlab_rb[svc].each do |key, value| %>
<%=      svc.gsub('-', '_') %>['<%= key %>'] = <%= value.inspect %>
<%     end %>
<%   end %>
<% end %>
